body {
    margin: 0;
    padding: 0;
    background-color: rgb(25 1 65);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    line-height: 30px;
    scroll-behavior: smooth;
}

header,
nav {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px 30px;
    color: #d04eba;
    border-left: 2px;
}

nav a:hover {
    background-color: white;
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 3px solid white; */
    width: 80%;
    margin: auto;
    padding: 60px 30px;
}

section {
    background-color: #ffffff21;
    border-radius: 10px 10px;
    margin: 20px;
}

h1,
h2 {
    color: #d04eba;
}

footer {
    padding: 20px;
}

section img {
    border-radius: 40px 40px;
    margin: 30px auto;
}